<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Change Password 222</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">



    <!-- Bootstrap core CSS -->
    <!--        <link href="bootstrap/assets/dist/css/bootstrap.min.css" rel="stylesheet">-->

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <!--        <link href="bootstrap/dashboard/dashboard.css" rel="stylesheet">-->
</head>



<body>
    <%- include('../partials/home_navbar'); %>
        <%- include('../partials/home_sidebar'); %>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">User Profile</h1>
                </div>
                <div class="col d-flex justify-content-center">
                    <div class="card" style="width:50%;">
                        <div class="card-body">

                            <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
                            <form target="dummyframe">


                                <div class="row g-3">


                                    <div class="col-12">
                                        <h4 class="mb-3">Username</h4>
                                        <div class="input-group has-validation">


                                            <input type="text" class="form-control" id="formUsername" name="username"
                                                value="" maxlength="20" required="required" autofocus>


                                        </div>


                                        <span class="text-danger text-left"></span>


                                    </div>
                                    <div class="col-sm-6">
                                        <h4 class="mb-3">Firstname</h4>

                                        <input type="text" class="form-control" id="formfirstName" name="firstName" value=""
                                            maxlength="30" value="" required>



                                        <span class="text-danger text-left"></span>


                                    </div>

                                    <div class="col-sm-6">
                                        <h4 class="mb-3">Lastname</h4>

                                        <input type="text" class="form-control" id="formlastName" name="lastName" value=""
                                            maxlength="30" value="" required>




                                        <span class="text-danger text-left"></span>


                                    </div>



                                    <div class="col-12">
                                        <h4 class="mb-3">Contact Number</h4>

                                        <input type="text" class="form-control" id="formcontactNum" name="contactNum"
                                            value="" maxlength="20" placeholder="" required>



                                        <span class="text-danger text-left"></span>

                                    </div>
                                    <div class="col-12">
                                        <h4 class="mb-3">Home Address</h4>


                                        <textarea id="formhomeAddress" class="form-control" name="homeAddress" rows="4"
                                            maxlength="200" required="required" placeholder="Home address"
                                            cols="50"></textarea>



                                        <span class="text-danger text-left"></span>

                                    </div>



                                    <div class="col-12">
                                        <h4 class="mb-3">Profile Image</h4>
                                        <input type="file" class="form-control" id="profile" placeholder=""
                                            name="profilePic">

                                        <span class="text-danger text-left"></span>

                                    </div>

                                </div><br />
                                <button class=" btn btn-outline-secondary  btn-lg" type="submit">Update Profile</button>



                                <a style=" float: right;" href="/profile"
                                    class=" btn btn-outline-secondary btn-lg">Back</a>
                            </form>
                        </div>
                    </div>
                </div>
            </main> <%- include('../partials/scroll_button'); %>

                <script>

               
                    document.getElementById("formUsername").value = userJson.username;
                    document.getElementById("formfirstName").value = userJson.firstName ;
                    document.getElementById("formlastName").value = userJson.lastName;

                    document.getElementById("formcontactNum").value = userJson.contactNum;
                    document.getElementById("formhomeAddress").value = userJson.email;
                </script>
                <!-- <script src="../bootstrap/assets/dist/js/bootstrap.bundle.min.js"></script>

                <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
                    integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
                    crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
                    integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
                    crossorigin="anonymous"></script>
                <script src="dashboard.js"></script> -->
</body>

</html>