

<p id="year" class="mt-5 mb-3 text-muted"></p>

<script>
    var date = new Date();
    var dateYear = date.getFullYear();

    document.getElementById("year").innerHTML = "&copy; DSCM "+dateYear;
 

</script>