<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .bg-wrap {
            width: 100%;
            position: relative;
            z-index: 0;
        }

        .bg-wrap:after {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            background: #000;
            opacity: 0.3;
        }

        .bg-wrap .user-logo .img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 0 auto;
            margin-bottom: 10px;
        }

        .bg-wrap .user-logo h3 {
            color: #fff;
            font-size: 18px;
        }

        .img {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .nav-sub-functional .nav-link:hover {
            color: #fd7e14 !important;
        }

        .nav-sub-functional .nav-link {
            color: gray !important;
        }

        .nav-item-active {
            color: #fd7e14 !important;
        }
    </style>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap.min.css" rel="stylesheet">

    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->


    <script src="bootstrap.bundle.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="template.css" rel="stylesheet">

</head>

<body>


    <div class="container-fluid">
        <div id="scroller" class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">


                <div class="img bg-wrap text-center py-4" style="background-image: url('bg.jpg');">
                    <div class="user-logo">

                        <div class="img">
                            <img id="profileSidebar" style=" border-radius: 50%;" src="" width="100" height="100" />
                        </div>


                        <h2 style="color: #fff;" id="username">
                            </h3>
                            <h3 id="role"> </h3>
                    </div>
                </div>

                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">

                        <h6 class="nav-link"><b>Dashboard</b></h6>
                        <div class="nav-sub-functional">

                            <li style="margin-left:10px;" class="nav-item">
                                <a class="nav-link" href="/home" style="color:gray;">
                                    <span data-feather="file"></span>
                                    Dashboard
                                </a>
                            </li>

                        </div>
                        <hr>
                        <h6 class="nav-link"><b>Durians</b></h6>
                        <div class="nav-sub-functional">
                            <div id="normal">
                                <li style="margin-left:10px;" class="nav-item">
                                    <a class="nav-link" href="{{route('approval-dashboard')}}">
                                        <span data-feather="file"></span>
                                        Views
                                    </a>
                                </li>
                                <li style="margin-left:10px;" class="nav-item">
                                    <a class="nav-link" href="{{route('document-list')}}">
                                        <span data-feather="file"></span>
                                        Purchase History
                                    </a>
                                </li>
                            </div>
                            <div id="exclusive">



                                <li style="margin-left:10px;" class="nav-item">
                                    <a class="nav-link" href="">
                                        <span data-feather="file"></span>
                                        Views
                                    </a>
                                </li>
                                <li style="margin-left:10px;" class="nav-item">
                                    <a class="nav-link" id="manageLink">
                                        <span data-feather="file"></span>
                                        Manage Durians
                                    </a>
                                </li>
                            </div>



                        </div>
                        <hr>
                        <h6 class="nav-link"><b>Settings</b></h6>
                        <div class="nav-sub-functional">
                            <li style="margin-left:10px;" class="nav-item">
                                <a class="nav-link" href="/profile">
                                    <span data-feather="file"></span>
                                    Profile
                                </a>
                                <!-- <a class="nav-link" href="{{url('/user/changePassword')}}">
                                        <span data-feather="file"></span>
                                        Change Password
                                    </a> -->
                            </li>
                        </div>
                    </ul>


                </div>


            </nav>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
        integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
        crossorigin="anonymous"></script>
    <script>
        var user = localStorage.getItem("user");

        const userJson = JSON.parse(user);

        const img = document.getElementById("profileSidebar");
        img.src = userJson.profile_pic;

        console.log(userJson.role); // prints "1685723"

        switch (userJson.role) {
            case "Farmers":
                233


                document.getElementById('manageLink').href = "/farmerAddDurian";

                break;
            case "Clients":
                //  document.getElementById("manageLink").link.setAttribute("href", "/farmerAddDurian");

                break;
            case "Retailers":
                //document.getElementById("manageLink").link.setAttribute("href", "/farmerAddDurian");
                break;
            default:
                // document.getElementById("manageLink").link.setAttribute("href", "/farmerAddDurian");

                break;
        }

        document.getElementById("username").innerHTML = userJson.username;
        document.getElementById("role").innerHTML = "(" + userJson.role + ")";

        if (localStorage.getItem("role") != "Clients") {

            var x = document.getElementById("exclusive");
            x.style.display = "block";
            var x = document.getElementById("normal");
            x.style.display = "none";

        }
        else {
            var x = document.getElementById("exclusive");
            x.style.display = "none";
            var x = document.getElementById("normal");
            x.style.display = "block";
        }
    </script>

</body>

</html>